.accordionjs {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
.accordionjs .acc_section {
  border: 1px solid #999;
  position: relative;
  z-index: 10;
  margin-top: -1px;
  overflow: hidden;
}
.accordionjs .acc_section .acc_head {
  position: relative;
  background: #eee;
  padding: 10px;
  display: block;
  cursor: pointer;
  font-weight: bold;
  font-size:16px;
}


.payment_mtd label span:first-child{position: relative; top:8px;}
.payment_mtd label span:nth-of-type(2n){position: relative; top:-5px;}

.payment_mtd p{font-size: 16px; margin:12px 0 15px 0;}
.payment_mtd label{font-size: 16px;}

.accordionjs .acc_section .acc_head:hover {background: #ccc; color:#8A8A00;}
.accordionjs .acc_section .acc_head h3 {
  line-height: 1;
  margin: 5px 0;
}
.accordionjs .acc_section .acc_content {
  padding: 10px;
}
.accordionjs .acc_section:first-of-type,
.accordionjs .acc_section:first-of-type .acc_head {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.accordionjs .acc_section:last-of-type,
.accordionjs .acc_section:last-of-type .acc_content {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.accordionjs .acc_section.acc_active > .acc_content {
  display: block;
}
.accordionjs .acc_section.acc_active > .acc_head {
  background: #333;
  color:#fff;
  border-bottom: 1px solid #ccc;
}

.accordion_in{color:#333;}